@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap");
.App {
  background-color: black;
}
.modal-content {
  background-color: #15150ee0;
}
body {
  font-family: "PT Serif", serif;
}
